body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/**
Temporary css waiting for the ui components
 */

.column {
  display: flex;
  flex-direction: column;
}

.signup .content {
  max-width: 40%;
  margin: auto;
  margin-top: 200px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}
